body{background-color:gray;}
.one{background-color:purple;}
section{background-color:white;}
.orange{background-color:orange;}
.red{background-color:red;}
.blue{background-color:aqua;}
.second{background-color:#FF10F0;}